/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
}
ul {
  -webkit-list-style: none;
  -moz-list-style: none;
  -ms-list-style: none;
  -o-list-style: none;
  list-style: none;
}
a {
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
/* End Global Rules */
/* Start Variables */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --secton-light-color: #ececec;
  --light-color: #777;
  --main-transition: .3s;
  --padding-section: 100px;
}
/* End Variables */
/* Start Components Custom */
a.scroll-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-color);
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 8px 5px 0px #ababab;
  -moz-box-shadow: 0px 8px 5px 0px #ababab;
  -ms-box-shadow: 0px 8px 5px 0px #ababab;
  -o-box-shadow: 0px 8px 5px 0px #ababab;
  box-shadow: 0px 8px 5px 0px #ababab;
  z-index: 5;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
a.scroll-button:hover {
  background-color: var(--secton-light-color);
}
a.scroll-button i {
  color: var(--secton-light-color);
  font-size: 30px;
}
a.scroll-button:hover i {
  color: var(--main-color);
}
.main-heading {
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid black;
  width: fit-content;
  margin: 0 auto 80px;
  font-size: 30px;
  position: relative;
  letter-spacing: -2px;
  z-index: 1;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
.main-heading:hover {
  color: white;
  border: 2px solid white;
  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  -ms-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
}
.main-heading::before,
.main-heading::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.main-heading::before {
  left: -30px;
}
.main-heading:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-heading::after {
  right: -30px;
}
.main-heading:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
/* End Components Custom */
/* Start Header  */
header {
  background-color: #fff;
  position: relative;
}
header .bar {
  -webkit-box-shadow: 0px 0px 10px -5px #000000;
  -moz-box-shadow: 0px 0px 10px -5px #000000;
  -ms-box-shadow: 0px 0px 10px -5px #000000;
  -o-box-shadow: 0px 0px 10px -5px #000000;
  box-shadow: 0px 0px 10px -5px #000000;
}
header .bar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  header .bar nav  {
    flex-direction: column;
    padding: 0 20px;
  }
}
header .bar nav h2 {
  color: var(--main-color);
  margin: 0;
  font-size: 25px;
}
@media (max-width: 767px) {
  header .bar nav h2 {
    margin: 10px auto;
  }
}
header .bar nav ul {
  padding: 0;
  margin: 0;
  display: flex;
}
header .bar nav ul li a ,
header .bar nav ul li .parent li a {
  color: black;
  font-weight: 500;
  padding: 25px 30px;
  display: inline-block;
  font-size: 17px;
  position: relative;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
header .bar nav ul li:hover a {
  color: var(--main-color);
  background-color: #f9f9f9;
}
header .bar nav ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 0;
  background-color: var(--main-color);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
header .bar nav ul li:hover a::before {
  width: 100%;
}
@media (max-width: 767px) {
  header .bar nav ul li a {
    font-size: 13px;
    padding: 15px 5px;
    font-weight: 400;
  }
}
header .bar nav ul .parent .mega-menu {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  width: 100%;
  top: 90px;
  left: 0;
  padding: 30px;
  z-index: -1;
  opacity: 0;
  border-bottom: 5px solid var(--main-color);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
header .bar nav ul .parent:hover .mega-menu {
  z-index: 2;
  opacity: 1;
  top: 71px;
}
@media (max-width: 767px) {
  header .bar nav ul .parent .mega-menu {
    flex-direction: column;
    padding: 0;
    top: 95px;
  }
  header .bar nav ul .parent .mega-menu div {
    width: 100%;
  }
}
header .bar nav ul .parent .mega-menu div {
  width: calc(90% / 3);
}
@media (max-width: 991px) {
  header .bar nav ul .parent .mega-menu div {
    width: calc(95% / 2);
  }
}
@media (max-width: 767px) {
  header .bar nav ul .parent .mega-menu div {
    width: 100%;
  }
}
@media (max-width: 991px) {
  header .bar nav ul .parent .mega-menu .image {
    display: none;
  }
}
header .bar nav ul .parent .mega-menu .image img {
  max-width: 100%;
}
header .bar nav ul .parent .mega-menu div span {
  display: block;
  color: var(--main-color);
  border-bottom: 1px solid #ddd;
  padding: 15px 10px;
  position: relative;
  z-index: 2;
}
header .bar nav ul .parent .mega-menu div span:hover {
  -webkit-cursor: pointer;
  -moz-cursor: pointer;
  -ms-cursor: pointer;
  -o-cursor: pointer;
  cursor: pointer;
}
header .bar nav ul .parent .mega-menu div span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: #f9f9f9;
  transition: var(--main-transition);
  z-index: -1;
}
header .bar nav ul .parent .mega-menu div span:hover::before {
  width: 100%;
  height: 100%;
}
header .bar nav ul .parent .mega-menu div span:last-child {
  border-bottom: none;
}
@media (max-width: 767px) {
  header .bar nav ul .parent .mega-menu div span:last-child {
    border-bottom: 1px solid #ddd;
  }
}
header .bar nav ul .parent .mega-menu div span a {
  font-weight: 700;
  color: var(--main-color);
}
header .bar nav ul .parent .mega-menu div span i {
  margin-right: 10px;
}
header .landing {
  margin-top: 1px;
  position: relative;
  overflow: hidden;
}
header .landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px 100px;
}
@media (max-width: 991px) {
  header .landing .container {
    justify-content: center;
  }
}
header .landing .container::before {
  content: "";
  background-color: #ececec;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-5deg) scale(1.5);
  -moz-transform: rotate(-5deg) scale(1.5);
  -ms-transform: rotate(-5deg) scale(1.5);
  -o-transform: rotate(-5deg) scale(1.5);
  transform: rotate(-5deg) scale(1.5);
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;
  z-index: 0;
}
header .landing .container .text {
  flex-basis: 55%;
  z-index: 1;
}
@media (max-width: 991px) {
  header .landing .container .text {
    text-align: center;
    flex-basis: 73%;
  }
}
@media (max-width: 767px) {
  header .landing .container .text {
    flex-basis: 100%;
  }
}
header .landing .container .text h1 {
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 0;
  margin-top: 0;
  letter-spacing: -3px;
}
header .landing .container .text p {
  line-height: 1.7;
  color: var(--light-color);
  font-size: 21px;
  margin: 10px 0 0;
  font-weight: 500;
}
@media (max-width: 767px) {
  header .landing .container .text h1 {
    font-size: 25px;
    letter-spacing: -2px;
  }
  header .landing .container .text p {
    font-size: 15px;
  }
}
header .landing .container .image {
  flex-basis: 100%;
  z-index: 1;
}
@media (max-width: 991px) {
  header .landing .container .image {
    display: none;
  }
}
header .landing .container .image img {
  max-width: 100%;
  position: relative;
  animation-duration: 3s;
  animation-name: move-up-and-down-img;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
header a:hover i.down-arrow {
  color: var(--main-color-alt);
}
header a i.down-arrow {
  font-size: 32px;
  color: var(--main-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
  transform: translatex(-50%);
  animation-duration: .8s;
  animation-name: move-up-and-down-i;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
/* End Header */
/* Start Articles */
article {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
article .container .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px 30px;
}
article .container .content .box {
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 5px 0px #c3c3c3;
  -moz-box-shadow: 0px 2px 5px 0px #c3c3c3;
  -ms-box-shadow: 0px 2px 5px 0px #c3c3c3;
  -o-box-shadow: 0px 2px 5px 0px #c3c3c3;
  box-shadow: 0px 2px 5px 0px #c3c3c3;
  transition: var(--main-transition);
}
article .container .content .box:hover {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-box-shadow: 0px 2px 14px 0px #7e7e7e;
  -moz-box-shadow: 0px 2px 14px 0px #7e7e7e;
  -ms-box-shadow: 0px 2px 14px 0px #7e7e7e;
  -o-box-shadow: 0px 2px 14px 0px #7e7e7e;
  box-shadow: 0px 2px 14px 0px #7e7e7e;
}
@media (max-width: 586px) {
  article .container .content .box {
    width: calc(93% / 1);
  }
}
@media (min-width: 587px) {
  article .container .content .box {
    width: calc(93% / 2);
  }
}
@media (min-width: 992px) {
  article .container .content {
    justify-content: flex-start;
  }
  article .container .content .box {
    width: calc(93% / 3);
  }
}
@media (min-width: 1200px) {
  article .container .content .box {
    width: calc(90% / 4);
  }
}
article .container .content .box .img img {
  width: 100%;
  max-width: 100%;
}
article .container .content .box .text {
  padding: 20px;
  border-bottom: 1px solid #e6e6e7;
}
article .container .content .box .text h5 {
  margin: 0;
  font-size: 18px;
}
article .container .content .box .text p {
  color: var(--light-color);
  font-size: 16px;
  margin-bottom: 0;
}
article .container .content .link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: var(--main-color);
}
article .container .content .link span {
  font-weight: bold;
  letter-spacing: -1px;
  cursor: pointer;
}
article .container .content .box:hover .link i {
  animation: move-right-to-left-i .8s infinite linear;
}
/* End Articles */
/* Start Gallery */
.gallery {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  background-color: var(--secton-light-color);
  position: relative;
}
.gallery::before {
  content: "";
  position: absolute;
  left: 0;
  top: -20px;
  width: 100%;
  height: 20px;
  background-image: linear-gradient(319deg, var(--secton-light-color) 16px, transparent 17px), 
  linear-gradient(42deg, var(--secton-light-color) 16px, transparent 17px);
  background-size: 30px 22px;
  background-repeat: repeat-x;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .container div {
  padding: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  -ms-box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  -o-box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}
.gallery .container div span {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.gallery .container div span::before {
  content: "";
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  background-color: rgb(255 255 255 / 20%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
}
.gallery .container div:hover span::before {
  animation-name: flashing;
  animation-duration: var(--main-transition);
  animation-timing-function: linear;
}
.gallery .container div span img {
  max-width: 100%;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
.gallery .container div:hover span img {
  -webkit-transform: rotate(5deg) scale(1.1);
  -moz-transform: rotate(5deg) scale(1.1);
  -ms-transform: rotate(5deg) scale(1.1);
  -o-transform: rotate(5deg) scale(1.1);
  transform: rotate(5deg) scale(1.1);
}
/* End Gallery */
/* Start Features */
.features {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}
.features .container .box {
  border: 1px solid #cccccc;
  overflow: hidden;
}
.features .container .box .image {
  position: relative;
}
.features .container .box .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.features .container .box:first-child .image::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .container .box:nth-child(2) .image::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .container .box:last-child .image::before {
  background-color: rgb(3 169 244 / 60%);
}
.features .container .box .image img {
  width: 100%;
  max-width: 100%;
}
.features .container .box .text {
  position: relative;
  text-align: center;
  padding: 20px;
}
.features .container .box .text::before {
  content: "";
  left: -251px;
  top: -373px;
  width: 0;
  height: 0;
  border: solid white;
  border-width: 240px 740px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: red;
  position: absolute;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center top;
  transform: rotateZ(3deg);
}
/* .features .container .box:hover .text::before {
  left: 338px;
  top: 150px;
  border-width: 310px 210px;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
  transform: rotateZ(-105deg);
} */
.features .container .box .text h4 {
  font-size: 35px;
  position: relative;
  width: fit-content;
  margin: 30px auto;
}
.features .container .box .text h4::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 75%;
  height: 5px;
}
.features .container .box:first-child .text h4::after {
  background-color: #f44036;
}
.features .container .box:nth-child(2) .text h4::after {
  background-color: #009688;
}
.features .container .box:last-child .text h4::after {
  background-color: #03a9f4;
}
.features .container .box .text p {
  color: var(--light-color);
  font-size: 19px;
  line-height: 2;
  margin: 50px 0;
}
.features .container .box .text a {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 30px;
  border: 3px solid;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
}
.features .container .box:first-child .text a {
  border-color: #f44036;
  color: #f44036;
}
.features .container .box:nth-child(2) .text a {
  border-color: #009688;
  color: #009688;
}
.features .container .box:last-child .text a {
  border-color: #03a9f4;
  color: #03a9f4;
}
.features .container .box:hover .text a {
  color: #fff;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
.features .container .box .text a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  z-index: -1;
}
.features .container .box:hover .text a::before {
  width: 100%;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
.features .container .box:first-child:hover .text a::before {
  background-color: #f44036;
}
.features .container .box:nth-child(2):hover .text a::before {
  background-color: #009688;
}
.features .container .box:last-child:hover .text a::before  {
  background-color: #03a9f4;
}
/* End Features */
/* Start Animation */
@keyframes move-up-and-down-img {
  from {
    bottom: 0px;
  }
  to {
    bottom: 50px;
  }
}
@keyframes move-up-and-down-i {
  0%,
  50%,
  100% {
    bottom: 0px;
  }
  30% {
    bottom: -20px;
  }
  40% {
    bottom: -8px;
  }
}
@keyframes move-right-to-left-i {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  65% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
 }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }
}
@keyframes flashing {
  100%{
    width: 200%;
    height: 200%;
  }
}
/* End Animation */
